In [1]:
import pandas as pd 
import numpy as np 
import os

In [2]:
%pwd

'/config/workspace/notebook'

In [3]:
os.chdir("../artifacts/")

In [4]:
%pwd

'/config/workspace/artifacts'

In [5]:
df = pd.read_csv("train_cleaned.csv")

df.head()

,policy_state,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_relationship,capital-gains,capital-loss,...,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,vehicle_claim,auto_make,auto_year,fraud_reported
0,IL,2000,1104.50,0,432211,FEMALE,PhD,unmarried,0,0,...,NO,2,2,NO,91650,14100,63450,Accura,2011,0
1,OH,1000,1099.95,0,473109,FEMALE,College,wife,0,-71900,...,NO,1,0,YES,52400,6550,39300,Accura,2005,1
2,OH,2000,1221.41,0,466289,FEMALE,Masters,wife,46700,-72500,...,NO,2,1,NO,2700,300,2100,Honda,2006,0
3,IL,500,1500.04,6000000,613826,MALE,PhD,own-child,0,-36500,...,NO,0,2,YES,5160,860,3440,Accura,2004,0
4,IN,1000,974.84,0,468984,FEMALE,JD,other-relative,52100,0,...,NO,0,1,YES,85320,21330,56880,Nissan,2006,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   policy_state                 800 non-null    object
 1   policy_deductable            800 non-null    int64
 2   policy_annual_premium        800 non-null    float64
 3   umbrella_limit               800 non-null    int64
 4   insured_zip                  800 non-null    int64
 5   insured_sex                  800 non-null    object
 6   insured_education_level      800 non-null    object
 7   insured_relationship         800 non-null    object
 8   capital-gains                800 non-null    int64
 9   capital-loss                 800 non-null    int64
 10  incident_type                800 non-null    object
 11  collision_type               800 non-null    object
 12  incident_severity            800 non-null    object
 13  authorities_contacted        800 non-null    object
 14  incident_state               800 non-null    object
 15  incident_city                800 non-null    object
 16  incident_hour_of_the_day     800 non-null    int64
 17  number_of_vehicles_involved  800 non-null    int64
 18  property_damage              800 non-null    object
 19  bodily_injuries              800 non-null    int64
 20  witnesses                    800 non-null    int64
 21  police_report_available      800 non-null    object
 22  total_claim_amount           800 non-null    int64
 23  injury_claim                 800 non-null    int64
 24  vehicle_claim                800 non-null    int64
 25  auto_make                    800 non-null    object
 26  auto_year                    800 non-null    int64
 27  fraud_reported               800 non-null    int64
dtypes: float64(1), int64(14), object(13)
memory usage: 175.1+ KB

In [7]:
df.isnull().sum()

policy_state                   0
policy_deductable              0
policy_annual_premium          0
umbrella_limit                 0
insured_zip                    0
insured_sex                    0
insured_education_level        0
insured_relationship           0
capital-gains                  0
capital-loss                   0
incident_type                  0
collision_type                 0
incident_severity              0
authorities_contacted          0
incident_state                 0
incident_city                  0
incident_hour_of_the_day       0
number_of_vehicles_involved    0
property_damage                0
bodily_injuries                0
witnesses                      0
police_report_available        0
total_claim_amount             0
injury_claim                   0
vehicle_claim                  0
auto_make                      0
auto_year                      0
fraud_reported                 0
dtype: int64

In [9]:
X = df.drop(columns=["fraud_reported"], axis=1)
y = df["fraud_reported"]

In [10]:
numerical_columns = X.select_dtypes(exclude="object").columns 

numerical_columns

Index(['policy_deductable', 'policy_annual_premium', 'umbrella_limit',
       'insured_zip', 'capital-gains', 'capital-loss',
       'incident_hour_of_the_day', 'number_of_vehicles_involved',
       'bodily_injuries', 'witnesses', 'total_claim_amount', 'injury_claim',
       'vehicle_claim', 'auto_year'],
      dtype='object')

In [11]:
categorical_columns = X.select_dtypes(include="object").columns 

categorical_columns

Index(['policy_state', 'insured_sex', 'insured_education_level',
       'insured_relationship', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'property_damage', 'police_report_available',
       'auto_make'],
      dtype='object')